
	<div class="page-home" ng-controller="PathsController">
<!-- 		<div class="well text-center">
			<h3><strong>800</strong> users have joined.  <strong>1200</strong> paths have been created. <strong>2,000</strong> paths have been completed. </h3>
		</div> -->
		<h3>Start your journey...</h3>
		<table class="table table-striped">
			<tr ng-repeat="path in paths">
				<td>
					<div class="row">
						<div class="col-sm-2 text-center">
							<a class="img-thumbnail" href="/walk/{{path.id}}">
								<span class="first-image">
									<img class="img-responsive" ng-src="{{path.firstImage}}" />
								</span>
							</a>
						</div>
						<div class="col-sm-10">
			  				<a href="/admin/#/path/{{path.id}}"><h2>{{path.name}}</h2></a>
			      			<p>{{path.description}}</p>
			      		</div>
			      		<i ng-show="path.isCompleted" class="fa fa-check-square-o complete-icon"></i>
			  		</div>
			  	</td>
			</tr>
		</table>
	</div>
