<!-- <div id="mainnav" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavController">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Enlighten</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li ng-show="profile.username"><a href="#/profile">{{profile.username}}</a>
          <li ng-show="profile.username"><a href="#/logout">Logout</a>
          <li ng-hide="profile.username"><a href="#/login">Sign In</a></li>
          <li ng-hide="profile.username"><a href="#/register">Sign Up</a></li>
        </ul>
        <a class="btn btn-success" href="#/create">Create Path</a>
      </div>
    </div>
</div> -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">Browse</a></li>
          <li ng-hide="profile.username"><a href="#/register">Register</a></li>
          <li><a class="btn btn-primary" href="#/editor/info">Create Path</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <li ng-hide="profile.username"><a data-toggle="dropdown" href="#/login">Log In <b class="caret"></b></a></li>
              <li ng-show="profile.username"><a data-toggle="dropdown" href="javascript:;">{{profile.username}} <img ng-show="profile.gravatar" ng-src="{{profile.gravatar}}" />  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-show="profile.username"><a href="#/profile">Profile</a></li>
                <li ng-show="profile.username"><a href="#/logout">Logout Out</a>
              </ul>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="messages">
  <!-- Subscribe to success flash messages. -->
  <div flash-alert="success" active-class="in" class="alert alert-success fade">
      <span class="alert-message">{{flash.message}}</span>
  </div>

  <!-- Subscribe to error flash messages. -->
  <div flash-alert="error" active-class="in" class="alert alert-danger fade">
      <span class="alert-message">{{flash.message}}</span>
  </div>
</div>