<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Enliten.io</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="active navbar-close"><a href="#">Browse</a></li>
          <li ng-hide="profile.username" class="navbar-close"><a href="#/register">Register</a></li>
          <li><button ng-click="go('/editor/info')" class="btn btn-primary navbar-btn navbar-close"><i class="fa fa-plus-circle"></i> Create Path</button></li>
      </ul>
      <img class="gravatar hidden-xs" ng-show="profile.hash" ng-src="http://www.gravatar.com/avatar/{{profile.hash}}" />
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <li ng-hide="profile.username"><a class="navbar-close" data-toggle="dropdown" href="/admin/#/login">Log In <b ng-show="profile.username" class="caret"></b></a></li>
              <li ng-show="profile.username">
                <a data-toggle="dropdown" href="javascript:;">
                    {{profile.username}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="navbar-close" ng-show="profile.username"><a href="/admin/#/profile">Profile</a></li>
                    <li class="navbar-close" ng-show="profile.username"><a href="/admin/#/logout">Logout</a>
                </ul>
              </li>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="messages">
  <!-- Subscribe to success flash messages. -->
  <div flash-alert="success" active-class="in" class="alert alert-success fade">
      <span class="alert-message">{{flash.message}}</span>
  </div>

  <!-- Subscribe to error flash messages. -->
  <div flash-alert="error" active-class="in" class="alert alert-danger fade">
      <span class="alert-message">{{flash.message}}</span>
  </div>
</div>
