
	<div class="page-step" ng-controller="StepController">
	    <div class="row">
	    	<div class="col-md-4">
	    		<h3>{{step.name}}</h3>
	    		<p class="lead">
	    			{{step.description}}
	    		</p>
	    	</div>
	    	<div class="col-md-8 text-center">
	    		<a href="{{step.url}}"><img ng-show="step.type == 'Photo'" ng-src="{{step.url}}" class="img-thumbnail img-responsive" /></a>
	    		<div ng-show="step.type == 'Embed code'" ng-bind-html="step.url" clas="img-thumbnail" ></div>
	    		<!-- <iframe width="99.6%" ng-show="step.type == 'Url'" src="{{step.url}}" class="img-thumbnail type-iframe"></iframe> -->
	    		<a ng-show="step.type == 'Url'" ng-href="{{step.url}}">
					<img ng-show="step.type == 'Url'" class="img-thumbnail img-responsive" ng-src="http://api.page2images.com/directlink?p2i_url={{step.url}}&p2i_device=6&p2i_screen=1024x768&p2i_size=1024x0&p2i_fullpage=1&p2i_key={{page2ImageApiKey}}"/>
				</a>
	    		<a href="{{step.url}}" ng-show="step.type == 'Url'"  class="btn btn-primary">Open in new tab</a>
	    	</div>
	    </div>
	   
	    <br />
	  	<a ng-hide="profile" href="/#/login">Login To Track Your Progress</a>

	  	<div class="step-nav step-nav-left">
	  		<a href="/#/path/{{path.id}}{{ index == 1 ? '' : '/step/' + (index - 1) }}"><i class="fa fa-arrow-left"></i></a>
  		</div>
	  	<div class="step-nav step-nav-right">
	  		<a href="/#/path/{{path.id}}{{ index == path.steps.length ? '/completed' : '/step/' + (index + 1)}}"><i class="fa fa-arrow-right"></i></a></div>

		<footer>
		    <div class="navbar navbar-fixed-bottom">
		        <div class="container">
					<div class="col-xs-1">
						
					</div>

					<div class="col-xs-10">
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ (index / path.steps.length) * 100 }}%;">
						    <span class="sr-only">{{ (index / path.steps.length) * 100 }}% Complete</span>
						  </div>
						</div>
					</div>

					<div class="col-xs-1">
						
					</div>
		        </div>
		    </div>
		</footer>

	</div>
