
	<div class="page-step" ng-controller="StepController">
	    <div class="row">
	    	<div class="col-md-4">
	    		<h3>Step {{index}} of {{path.name}}</h3>
	    		<h3>{{step.name}}</h3>
	    		<p class="lead">
	    			{{step.description}}
	    		</p>
	    	</div>
	    	<div class="col-md-8">
	    		<iframe src="{{step.url}}"></iframe>
	    	</div>
	    </div>
	   
	    <br />
	  	<a ng-hide="profile" href="/#/login">Login To Track Your Progress</a>

		<footer>
		    <div class="navbar navbar-fixed-bottom">
		        <div class="container">
					<div class="col-xs-1">
						<h1><a href="/#/path/{{path.id}}{{ index == 1 ? '' : '/step/' + (index - 1) }}"><i class="fa fa-arrow-left"></i></a></h1>
					</div>

					<div class="col-xs-10">
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ (index / path.steps.length) * 100 }}%;">
						    <span class="sr-only">{{ (index / path.steps.length) * 100 }}% Complete</span>
						  </div>
						</div>
					</div>

					<div class="col-xs-1"><h1><a href="/#/path/{{path.id}}/step/{{ index == path.steps.length ? 'complete' : index + 1}}"><i class="fa fa-arrow-right"></i></a></h1></div>
		        </div>
		    </div>
		</footer>

	</div>
