<!-- PRELOADER -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->


<!-- OVERLAY MENU -->
<div id="overlay-menu" class="overlay-menu">

    <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

    <div class="overlay-menu-inner">
        <nav class="overlay-menu-nav">

            <ul id="nav">

                <li class="slidedown">
                    <a href="#">Home</a>
                </li>

                <li><a href="/admin#profile">Create</a></li>

            </ul>

        </nav>
    </div>

    <div class="overlay-navigation-footer">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">
                    <p class="copyright font-alt m-b-0">© Balanced Scale Media, LLC, All Rights Reserved.</p>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /OVERLAY MENU -->

<!-- WRAPPER -->
<div class="wrapper">

    <!-- NAVIGATION -->
    <nav class="navbar navbar-custom navbar-transparent navbar-light navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <!-- YOU LOGO HERE -->
                <a class="navbar-brand" href="/">
                    <!-- IMAGE OR SIMPLE TEXT -->
                    <!-- <img src="assets/images/logo-dark.png" width="95" alt=""> -->
                    Enliten
                </a>
            </div>

            <!-- ICONS NAVBAR -->
            <ul id="icons-navbar" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" id="toggle-menu" class="show-overlay" title="Menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
            </ul>
            <!-- /ICONS NAVBAR -->

            <ul class="extra-navbar nav navbar-nav navbar-right">
                <li><a href="/admin#profile" title="Contact">Create</a></li>
            </ul>

        </div>

    </nav>
    <!-- /NAVIGATION -->

<!-- HERO -->
<section id="hero" class="module-hero module-parallax module-full-height bg-light-30" data-background="/images/natural.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text">

            <h1 class="mh-line-size-1 font-alt m-b-50">Welcome to Enliten</h1>
            <h5 class="mh-line-size-4 font-alt">start your journey</h5>

        </div>
    </div>
    <!-- /HERO TEXT -->

</section>
<!-- /HERO -->

<!-- PORTFOLIO -->
<section id="portfolio" class="module">

    <div class="container">

        <!-- FILTER -->
<!--         <div class="row">

            <div class="col-sm-12">
                <ul id="filters" class="filters font-alt">
                    <li><a href="#" data-filter="*" class="current">All <sup><small>.355</small></sup></a></li>
                    <li><a href="#" data-filter=".branding">Branding <sup><small>.78</small></sup></a></li>
                    <li><a href="#" data-filter=".design">Design <sup><small>.123</small></sup></a></li>
                    <li><a href="#" data-filter=".photo">Photo <sup><small>.144</small></sup></a></li>
                    <li><a href="#" data-filter=".web">Web <sup><small>.140</small></sup></a></li>
                </ul>
            </div>

        </div> -->
        <!-- /FILTER -->

        <!-- WORKS GRID -->
        <div class="row">

            <div id="works-grid" class="works-grid works-hover-w">

                <!-- DO NOT DELETE THIS DIV -->
                <div class="grid-sizer"></div>

                <% paths.forEach(function(path){  %>

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item tall branding">
                        <a href="/walk/<%= path.id %>">
                            <% if(path.thumbnail) { %>
                                <img src="<%= path.thumbnail %>" alt="">
                            <% } else { %>
                                <img src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg" />
                            <% } %>
                            <div class="work-caption font-alt">
                                <h3 class="work-title"><%= path.name %></h3>
                                <div class="work-descr">
                                    <%= path.description %>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                <% }); %>


            </div>

        </div>
        <!-- /WORKS GRID -->

        <!-- SHOW MORE -->
<!--         <div class="row m-t-70 text-center wow fadeInUp">
            <div class="col-sm-12">

                <button id="show-more" class="btn btn-block btn-lg btn-g show-more">More works</button>

            </div>
        </div> -->
        <!-- /SHOW MORE -->

    </div>

</section>
<!-- /PORTFOLIO -->

<!-- FOOTER -->
<footer class="module bg-light">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <p class="copyright text-center m-b-0">©  <a href="http://www.balancedscale.com">Balanced Scale Media, LLC</a>, All Rights Reserved.</p>

            </div>

        </div>

    </div>

</footer>
<!-- /FOOTER -->

</div>
<!-- /WRAPPER -->

<!-- SCROLLTOP -->
<div class="scroll-up">
<a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
<!--SCRIPTS-->
<script src="/js/src/ux/jquery-2.1.3.js"></script>
<script src="/js/src/ux/jquery.superslides.js"></script>
<script src="/js/src/ux/jquery.mb.YTPlayer.js"></script>
<script src="/js/src/ux/jquery.magnific-popup.js"></script>
<script src="/js/src/ux/owl.carousel.js"></script>
<script src="/js/src/ux/jquery.simple-text-rotator.js"></script>
<script src="/js/src/ux/imagesloaded.pkgd.js"></script>
<script src="/js/src/ux/isotope.pkgd.js"></script>
<script src="/js/src/ux/packery-mode.pkgd.js"></script>
<script src="/js/src/ux/appear.js"></script>
<script src="/js/src/ux/jquery.easing.1.3.js"></script>
<script src="/js/src/ux/wow.js"></script>
<script src="/js/src/ux/jqBootstrapValidation.js"></script>
<script src="/js/src/ux/jquery.fitvids.js"></script>
<script src="/js/src/ux/jquery.parallax-1.1.3.js"></script>
<script src="/js/src/ux/smoothscroll.js"></script>
<script src="/js/src/ux/contact.js"></script>
<script src="/js/src/ux/custom.js"></script>
<!--SCRIPTS END-->
