<div id="enliten-maker" ng-app="enliten-maker">
	<div ng-controller="MakerController as mc">

		<section class="drawer">
		    <!-- NAVIGATION -->
		    <nav class="navbar navbar-light ">

		        <div class="container">

		            <div class="navbar-header">
		                <!-- YOU LOGO HERE -->
		                <a class="navbar-brand" href="/">
		                    <!-- IMAGE OR SIMPLE TEXT -->
		                    <!-- <img src="assets/images/logo-dark.png" width="95" alt=""> -->
		                    Steps 
		                </a>
		            </div>

		        </div>

		    </nav>
		    <!-- /NAVIGATION -->

			<div class="container">
                <% _.each(path.steps, function(step) { %>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="media">
                                      <div ng-if="step.iurl" class="media-left">
                                        
                                          <img class="media-object" ng-src="<%=step.iurl %>" alt="...">
                                        
                                      </div>
                                      <div class="media-body">
                                       
                                            <h4 class="media-heading"><%= step.name %></h4>
                                        
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                <% }); %>
            </div>

		</section>

		<section class="main">

		    <div class="container">

		    	<div class="text-center">
		    	    <form ng-submit="mc.search()">
			    		<div class="form-group">
			    			<input type="text" placeholder="Enter Search or URL" class="search form-control"/>
			    			<!-- <button type="submit" class="pull-right btn btn-block btn-round btn-d">Submit</button> -->
			    		</div>
						
		    		</form>
		    	</div>

				<div ng-if="results" id="results">
					<div class="row">
						<div class="col-xs-12">
							<div ng-repeat="result in results" class="media">
							  <div class="media-left">
							    <a href="#">
							      <img width="100px" class="media-object" ng-if="result.iurl" ng-src="{{result.iurl}}">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading"><a target="_blank" href="{{result.url}}">{{result.title}}</a></h4>
							    <div>{{result.kwic}}</div>
								<div ng-if="result.author">Author: {{result.author}}</div>
								<div ng-if="result.date">Date: {{result.date}}</div>
								<div ng-if="result.domain">Source: {{result.domain}}</div>
								<button ng-if="result.url" class="btn btn-default" ng-click="mc.add(result)"><i class="fa fa-plus-circle"></i> Add This</button>
							  </div>
							</div>
						</div>
					</div>
				</div>

				<div id="preview"></div>
		    </div>
			
		</section>



	</div>
</div>

<script src="/js/ux/jquery-2.1.3.min.js"></script>
<script src="/js/ux/jquery.touchSwipe.min.js"></script>
<script src="/js/dist/maker-built.js"></script>