<div id="enliten-viewer" ng-app="enliten-viewer">
    <div  ng-controller="ViewerController as vc">

        <!-- HERO -->
        <section ng-if="!step" class="module module-parallax bg-light-30" data-background="assets/images/section-7.jpg">

            <!-- HERO TEXT -->
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="mh-line-size-3 font-alt m-b-20"><%= path.name %></h1>
                    </div>
                </div>

            </div>
            <!-- /HERO TEXT -->

        </section>
        <!-- /HERO -->

        <!-- VORTEX BUTTONS -->
        <section  ng-if="!step" class="module">

            <div class="container">

                <!-- MODULE TITLE -->
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt"><%= path.description %></h2>
                    </div>
                </div>
                <!-- /MODULE TITLE -->

                <div class="row multi-columns-row">

                    <div class="col-sm-4">

                    </div>

                    <div class="col-sm-4">
                        <p><button data-step="0" ng-click="vc.next()" type="submit" class="pull-right btn btn-g btn-round btn-lg">Continue</button>
                    </div>

                    <div class="col-sm-4">

                    </div>

                </div>

            </div>

        </section>
        <!-- /VORTEX BUTTONS -->

        <section ng-if="step" class="">

            <div class="container">

                <div class="row step fadeInLeft animated">
                    <div class="col-sm-12">

                        <a  target="_blank" class="fadeInLeft animated" ng-if="step.type == 'Url'" ng-href="{{step.url}}">
                            <img ng-if="step.type == 'Url'" class="img-responsive" ng-src="{{step.iurl}}"/>
                        </a>

                        <div ng-if="step.type == 'Embed code'" ng-bind-html="step.url" class="animated fadeInLeft embed-responsive embed-responsive-16by9" >

                        </div>
                        <a ng-if="step.type == 'Photo'" ng-href="{{step.url}}" target="_blank"><img ng-if="step.type == 'Photo'" class="img-responsive" ng-src="{{step.iurl}}" /></a>

                        <h2 class="fadeInLeft animated">{{step.name}}</h2>
                        <p class="fadeInLeft animated lead">{{step.description}}</p>

                        <div>
                            <button ng-click="vc.next()" class="pull-right fadeInLeft animated btn btn-g btn-round btn-lg">Continue</button>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </div>
</div>

<!-- Javascript files -->
<script>
    var path = '<%= path.id %>';
</script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
<script type="text/javascript" src="/js/viewer-built.js"></script>
