/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

footer .progress {
  margin-top:37px;
  height:7px;
}

.alert {
 position:absolute;
 display:inline-block;
 top:32px;
 left:auto;
 z-index:1000000;
 padding:5px 10px;
}

.messages {
	text-align: center;
}

.alert-message {
	margin:0;
}

.navbar-collapse button {
 display:inline-block;
 margin-left:10px;
 color:#fff;
}

.gravatar {
 width:50px;
 margin:0 0 0 20px;
 float:right;
}

.editor-step iframe{
	width:100%;
	height:100%;
	border:none;
	min-height:400px;
}

.page-step iframe{
	width:100%;
	height:500px;
}

@media (min-width: 1200px) {
	.container {
		width: auto;
	}
}

@media (min-width: 992px) {
	.container {
		width: auto;
	}
}

@media (min-width: 768px) {
	.container {
		width: auto;
	}
}	