/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

footer .progress {
  margin-top:37px;
  height:7px;
}

.alert {
 position:absolute;
 display:inline-block;
 top:32px;
 left:auto;
 z-index:1000000;
 padding:5px 10px;
}

.messages {
	text-align: center;
}

.alert-message {
	margin:0;
}

.navbar-collapse button {
 display:inline-block;
 margin-left:10px;
 color:#fff;
}

.gravatar {
 width:50px;
 margin:0 0 0 20px;
 float:right;
}

.editor-step iframe{
	width:100%;
	height:100%;
	border:none;
	min-height:400px;
}

.page-step iframe{
	display:inline-block;
	margin:auto;
	width:100%;
}

.type-iframe {
	height:500px;
	width:100%;
}

.complete-icon {
	position:absolute;
	top:10px;
	right:10px;
	font-size:30px;
	color:#a567d6;
	background-color:#fff;
 	padding:2px 5px 1px 5px;	
}

@media (min-width: 1200px) {
	.container {
		
	}
}

@media (min-width: 992px) {
	.container {
		
	}
}

@media (min-width: 768px) {
	.container {

	}
	.type-iframe {
		height:700px;
	}

}	

@media (min-width: 550px) {
	.complete-icon {
		background-color:transparent;
 		padding:0;
	}
}

.fa-arrow-left {
  position:relative;
  left:10px;
}
.fa-arrow-right {
  position:relative;
  right:10px;
}
.step-nav {
 border-radius:40px;
 position:fixed;
 top:50%;
 background-color:#eee;
 padding:10px 20px;
 font-size:40px;
 opacity:0.8;
}
.step-nav-left { left:-30px; }
.step-nav-right { right:-30px;}

.editor-step textarea.form-control {
	height:250px;
}

.vertical {
	text-align:center;
	font-size:3em;
}

.vertical .step {
	margin:300px 0;
}

.vertical iframe {
	width:100%;
	border:none;
	height:400px;
}

.vertical .img img {margin:auto; text-align:center;}

.vertical .border {
	border-top:#eee 2px solid;
	border-bottom:#eee 2px solid;
	max-height:500px;
	overflow: scroll;	
}

.first-image{
	max-height:150px;
	overflow:hidden;
	display:block;
}

td {
	position:relative;
}

.reveal-animation, .reveal-animation * {
    -webkit-transition: opacity 0.5s ease-in; //for chrome, safari
    -moz-transition: opacity 0.5s ease-in; //for mozilla firefox
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in; //for opera   
    transition: opacity 0.5s ease-in;
}

.fadein, .fadein * {
	opacity: 1;    
}

.fadeout, fadeout * {
	opacity: 0;    
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in *  {

    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;

}




