
	<div class="vertical container" ng-controller="VertPathController">

		<div class="row vertical-intro">
			<div class="col-sm-12">
			
			    <h1>{{path.name}} <i ng-show="status.isCompleted" class="fa fa-check-square-o"></i></h1>
			    <p>{{path.description}}</p>
				

				<div class="text-center text-primary vertical-intro-icon">
					<i class="fa fa-arrow-circle-o-down"></i> 
				</div>
			
			</div>
		</div>
		<div class="row step" ng-repeat="step in path.steps">
			<div class="col-sm-4">
				<h2>{{step.name}}</h2>
				<p class="lead">{{step.description}}</p>
			</div>	
			<div class="col-sm-8">	
				
				<a ng-if="step.type == 'Url'" ng-href="{{step.url}}">
					<img ng-if="step.type == 'Url'" class="img-thumbnail img-responsive" ng-src="/path/preview/?url={{step.url}}"/>
				</a>
				
				<div ng-if="step.type == 'Embed code'" ng-bind-html="step.url" ></div>
				<img ng-if="step.type == 'Photo'" class="img-thumbnail img-responsive" ng-src="{{step.url}}" />
			 	<hr />

			</div>
		</div>

		<span ng-if="profile.username"><a href="#/login">Sign in to track your progress</a> </span>

		<h2>Share your thoughts</h2>
	    <div ng-include="" src="'/views/disqus.html'"></div>

	</div>
