
	<div class="editor-step" ng-controller="EditorStepController as editCtrl">

		<h2>Create step {{index}} for {{path.name}}</h2>

		<form ng-show="profile.username && (profile.id == path.user)" class="form" ng-submit="editCtrl.submit(step)">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>What do you call this step? <em>optional</em></label>
						<input class="form-control" required="" type="text" ng-model="step.name" />
					</div>	
					<div class="form-group">
						<label>What kind of content is this?</label>
						<select class="form-control" ng-model="step.type" placeholder="Content type">
							<option>Photo</option>
							<option>Embed code</option>
							<option>Url</option>
						</select>	
					</div>
					<div class="form-group">
						<label>What are you talking about?  Enter your {{step.type}}.</label>
						<input class="form-control" type="text" required="" ng-model="step.url" />		
					</div>	
					<div class="form-group">
						<button ng-click="editCtrl.preview(step.url)" class="btn btn-default">Preview</button>
					</div>
					<div class="form-group">
						<label>What do you want to say about it?</label>
						<textarea col="20" row="20" class="form-control" ng-model="step.description"></textarea>
					</div>															
				</div>
				<div class="col-md-6">
					<div id="preview"></div>
				</div>
			</div>
  		  	
			<div class="form-group">
				<a href="#/editor/info/{{path.id}}" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit name and description</a> 
				<button class="btn btn-success" type="submit"><i class="fa fa-plus-circle"></i> Save and add another step</button>  
				<a class="btn btn-danger" href="#/editor/summary/{{path.id}}"><i class="fa fa-flag-checkered"></i> Save and be done</a>
			</div>

		</form>
		<div ng-hide="profile.id == path.user">
		  	<h2>You can only edit paths that you have created.</h2>
		</div>
		<div ng-hide="profile.username">
			<h2>You must <a href="#/login">Login</a> or <a href="#/register">Register</a></h2>
		</div>	

	</div>