
	<div ng-controller="EditStepController">
	  <h2>Create step {{index}} for {{path.name}}</h2>
	  <form ng-show="set.name" class="form" ng-submit="EditorController.submit(path)">
	  	<div class="form-group">
	  		<label>Name</label>
	  		<input class="form-control" required="" type="text" ng-model="path.name" />
	  	</div>
	  	<div class="form-group">
	  		<label>Description</label>
	  		<textarea class="form-control" required="" ng-model="step.description"></textarea>
	  	</div>
	  	<div class="form-group">
	  		<label>Destination</label>
	  		<textarea class="form-control" required="" ng-model="step.url"></textarea>
	  	</div>	  		  	
	  	<div class="form-group">
	  		<input class="btn" type="submit" value="Save" />  
	  		<a class="btn btn-danger" href="#/editor/done?path={{path.id}}">Done</a>
	  	</div>
	  </form>
	  <div ng-hide="profile.username">
	 	<h2>You must <a href="#/login">Login</a> or <a href="#/register">Register</a></h2>
	  </div>	
	</div>