	
	<div ng-controller="EditorSummaryController as editCtrl">
	  	
		<div ng-show="profile.username">
			<h1>Summary</h1>

			<h3>Name</h3>
			<p>{{path.name}}</p>
			<h3>Description</h3>
			<p>{{path.description}}</p>

			<a class="btn btn-default" href="#/editor/info/{{path.id}}">Edit path information</a>

			<form ng-submit="editCtrl.submit(path)">
				<h3 ng-show="path.steps">Steps </h3>
				<table class="table table-striped">
					<tr ng-repeat="step in path.steps">
						<td>{{step.name}}</td>
						<td>{{step.description}}</td>	
						<td>{{step.url}}</td>
						<td><a href="#/editor/step/{{$index+1}}/{{path.id}}">edit</a></td>
					</tr>
				</table>
				<div ng-hide="path.steps">No steps <br /><br /></div>
				<div class="form-group">
					<a class="btn btn-success" target="_blank" href="#/editor/step/{{path.steps.length + 1}}/{{path.id}}">Add more steps</a>
					<a class="btn btn-warning" target="_blank" href="#/path/{{path.id}}">Preview</a>
					<button type="submit" class="btn btn-default">{{ path.published ? 'Unpublish' : 'Publish'}}</button>
					<em>Allow others to find this path.</em>
				</div>
			</form>

		</div>

		<div ng-hide="profile.username">
			<h2>You must <a href="#/login">Login</a> or <a href="#/register">Register</a> to create a path.</h2>
		</div>	
	</div>