	
	<div ng-controller="EditorController as editCtrl">
	  <h2 ng-show="profile.username">Create a path</h2>
	  <form ng-show="profile.username" class="form" ng-submit="editCtrl.submit(path)">
	  	<div class="form-group">
	  		<label>Name</label>
	  		<input class="form-control" required="" type="text" ng-model="path.name" />
	  	</div>
	  	<div class="form-group">
	  		<label>Description</label>
	  		<textarea class="form-control" required="" ng-model="path.description"></textarea>
	  	</div>	  	
	  	<div class="form-group">
	  		<a class="btn btn-warning" href="#/path/{{path.id}}">Preview</button>
	  		<button class="btn btn-success" type="submit">Publish</button>
	  		<em>Allow others to find this path.</em>
	  	</div>
	  </form>
	  <div ng-hide="profile.username">
	 	<h2>You must <a href="#/login">Login</a> or <a href="#/register">Register</a> to create a path.</h2>
	  </div>	
	</div>